{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="..."
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="..."
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="..."
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5f59ca6ad3.js"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title> Prediction | FifaNation</title>
        <style>
            .nav-item{
                margin-left:12px;
            }
            .input-box{
                margin-top:100px;
                text-align:center;
                padding-left:20px;
                border-width:0px;
                border-radius:250px;
            }
            .input-selector{
                width:250px;
                height:50px;
            }
            .background-custom-image{
                background-image: url('{% static "images/FOOTBALLBG.jpg" %}');
                background-size:cover;
                background-position: center 
            }
            .img{
                height: 100%;
                width: 50%;
            }
            .heading{
                color:white;
                font-size:36px;
            }
            span{
                font-weight:700;
            }
            .text-border{
                background-color: rgba(0, 0, 0, 0.5);
                border-radius:25px;
    
            }
            .margin-top{
                margin-top:40%;
            }
            .text-border{
                background-color: rgba(0, 0, 0, 0.5);
                border-radius:25px;
    
            }
            .mb5{
                margin-bottom:10%;
            }

        </style>
    </head>

        <body>
            <div style="background-color:black">
                <nav
                    class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark  fixed-top navbar-color">
                    <div class="container-fluid">
                        <a class="navbar-brand" style="color:#3498db">FifaNation</a>
                        <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse text-black navbar-collapse d-flex flex-row justify-content-end"
                            id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page"
                                        href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/Leaderboard">Leaderboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/Custom">Custom</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/Prediction">2026 Prediction</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/MatchScore">Upcoming Match</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            
                
                <div class='mt-5 background-custom-image d-flex flex-column justify-content-center'>
                    <div id ='teamA' class='text-center'>
                        <form method="post" action="{% url 'Custom' %}">
                            {% csrf_token %}
                        <input type="text" name="teamA_gk" list="gk" placeholder = 'Goal Keeper'class='input-selector input-box mb5'>
                            <datalist id="gk">
                            
                            </datalist>
                        <div class='mb5'>
                            <input type="text" name="teamA_back1" list="back" placeholder = 'Back'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_back2" list="back" placeholder = 'Back'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_back3" list="back" placeholder = 'Back'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_back4" list="back" placeholder = 'Back'class='input-selector input-box '>
                            
                            <datalist id="back">
                            
                            </datalist>
                        </div>

                        <div class='mb5'>
                            <input type="text" name="teamA_mid1" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_mid2" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_mid3" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_mid4" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box '>
                            <datalist id="mid">
                            
                            </datalist>
                        </div>

                        <div class='mt-5'>
                            <input type="text" name="teamA_fwd1" list="fwd" placeholder = 'Forwards'class='input-selector input-box mr-5'>
                            
                            <input type="text" name="teamA_fwd2" list="fwd" placeholder = 'Forwards'class='input-selector input-box mr-5'>
                            
                            <datalist id="fwd">
                            
                            </datalist>
                        </div>  
                    </div>
                
                    <div class='mr-5 ml-5 text-border p-2 text-center' style='margin:55%;'>
                        <h1 class='heading'>The Winner of Team A vs Team B:</br><span id="PredictionOutputA">{{ team_prediction }}</span></h1>
                        <center><button type='submit' class='btn btn-primary'>GO!!</button></center>
                    </div>


                    <div id ='teamB' class='d-flex flex-column justify-content-end'>
                        <div class='text-center p-5'>
                            <div class='mb5'>
                                <input type="text" name="teamB_fwd1" list="fwd" placeholder = 'Forwards'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_fwd2" list="fwd" placeholder = 'Forwards'class='input-selector input-box mr-5'>
                                
                                <datalist id="fwd">
                                
                                </datalist>
                            </div>

                    
                            <div class='mb5'>
                                <input type="text" name="teamB_mid1" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_mid2" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_mid3" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_mid4" list="mid" placeholder = 'Mid Fielders'class='input-selector input-box '>
                                <datalist id="mid">
                                
                                </datalist>
                            </div>

                    
                            <div  class='mb5'>
                                <input type="text" name="teamB_back1" list="back" placeholder = 'Back'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_back2" list="back" placeholder = 'Back'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_back3" list="back" placeholder = 'Back'class='input-selector input-box mr-5'>
                                
                                <input type="text" name="teamB_back4" list="back" placeholder = 'Back'class='input-selector input-box '>
                                
                                <datalist id="back">
                                
                                </datalist>
                            </div>

                            <input type="text" name="teamB_gk" list="gk" placeholder = 'Goal Keeper'class='input-selector input-box'>
                            <datalist id="gk">
                            </datalist>
                        </form>
                    </div>
                </div>
                
            </div>

            <script>
                let datalistEl = document.getElementById('gk');
                let goalkeeperList = ['A. Hansen',
                'L. García',
                'Adrián',
                'J. García',
                'S. Moore',
                'B. Murphy',
                'M. Neuer',
                'M. ter Stegen',
                'Ederson',
                'J. Oblak',
                'Alisson',
                'G. Donnarumma',
                'K. Navas',
                'E. van der Sar',
                'T. Courtois',
                'A. Onana',
                'M. Maignan',
                'K. Casteels',
                'E. Martínez',
                'W. Szczęsny'];
                for (let item of goalkeeperList) {
                    let optionEl = document.createElement('option');
                    optionEl.setAttribute('value', item);
                    datalistEl.appendChild(optionEl);
                }
                let datalistEl1 = document.getElementById('back');
                let backList = ['J. Brown',
                'Danilo',
                'J. Angulo',
                'R. Williams',
                'J. Rodríguez',
                'S. Coulibaly',
                'C. Taylor',
                'L. Gordon',
                'Emerson',
                'R. James',
                'D. Martínez',
                'Paulinho',
                'J. Sánchez',
                'E. Insúa',
                'M. Olivera',
                'B. Davies',
                'A. Davies',
                'P. Aguilar',
                'J. Martínez',
                'L. Rodríguez'];
                for (let item of backList) {
                    let optionEl1 = document.createElement('option');
                    optionEl1.setAttribute('value', item);
                    datalistEl1.appendChild(optionEl1);
                }
                let datalistEl2 = document.getElementById('mid');
                let midList = ['J. Rodríguez',
                'Paulinho',
                'M. Camara',
                'D. Jones',
                'J. Taylor',
                'J. Jones',
                'J. Williams',
                'M. Smith',
                'J. Corona',
                'Otávio',
                'L. Rodríguez',
                'G. Castro',
                'S. Davis',
                'S. Larsson',
                'Pedrinho',
                'Nuno Santos',
                'D. González',
                'J. Allen',
                'P. Diop',
                'Rodri'];
                for (let item of midList) {
                    let optionEl2 = document.createElement('option');
                    optionEl2.setAttribute('value', item);
                    datalistEl2.appendChild(optionEl2);
                }
                let datalistEl3 = document.getElementById('fwd');
                let fwdList = ['João Pedro',
                'J. Hernández',
                'L. Suárez',
                'D. Tadić',
                'Éder',
                'André Silva',
                'Joselu',
                'Paulinho',
                'R. Riski',
                'Danilo',
                'G. Simeone',
                'Jairo',
                'M. Koné',
                'M. Sylla',
                'M. Dembélé',
                'A. Kamara',
                'G. Martínez',
                'T. Boyd',
                'L. James',
                'M. Demir']
               
                for (let item of fwdList) {
                    let optionEl3 = document.createElement('option');
                    optionEl3.setAttribute('value', item);
                    datalistEl3.appendChild(optionEl3);
                }
            </script>
            
        </body>

        </html>
