{% extends 'base.html' %}

{% block title %}Custom Team | {% endblock title %}


{% block body %}
    <body  style='background-color:black'>

            <div style="background-color:black" class="background-custom">
                <nav
                    class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-transparent fixed-top navbar-color">
                    <div class="container-fluid">
                        <a class="navbar-brand" style="color:#3498db">FifaNation</a>
                        <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse text-black navbar-collapse d-flex flex-row justify-content-end"
                            id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page"
                                        href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/DashBoard">Dash Board</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/Custom">Custom</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/LiveMatch">Live Match</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/MatchScore">Match Score</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </body>
{% endblock body %}
