    {% extends 'base.html' %}
    {% load static %}


    {% block title %}Home | {% endblock title %}
    {% block script %}<script src='{% static 'js/Script.js' %}'></script>{% endblock script %}

    {% block body %}
    <div  style='background-color:black;'  class="background">

        
        <div class="banner-section-bg-container d-flex justify-content-center flex-column mt-0 pt-0">
            <div class="text-center">
                <h1 class="banner-heading mb-3 fade-in">Your one stop solution for fifa</h1>
                <p class="banner-caption mb-4" id="animated-text">Get Predictions, News and much more of the football world.</p>
                <div class="text-center d-flex flex-row justify-content-center">
                    <button class="custom-button" onclick="window.location.href='{% url 'Prediction' %}'">Our Prediction</button>
                    <button class="custom-outline-button" onclick="window.location.href='{% url 'MatchScore' %}'">Upcoming Matches</button>
                </div>
            </div>
        </div>
    </div>   


    <div>
    <div class="d-flex flex-row justify-content-center p-5 "><div class="card-carousal">
        <div id="varanasiTempleCarousel" class="carousel slide"
                data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#varanasiTempleCarousel"
                        data-slide-to="0" class="active"></li>
                    <li data-target="#varanasiTempleCarousel"
                        data-slide-to="1"></li>
                    <li data-target="#varanasiTempleCarousel"
                        data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div
                            class=" bg-1 d-flex flex-column justify-content-end text-white pb-5 mb-5">
                            <div
                                style="background-color: rgba(0, 0, 0, 0.8);">
                                <h5>2026 FIFA World Cup</h5>
                                <p>Tournament details
                                    Host countries:
                                    Canada
                                    Mexico
                                    United States
                                    Dates June TBD – July 19
                                    Teams: 48 (from 6 confederations)
                                    Venue(s): 16 (in 16 host cities)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div
                            class=" bg-2 d-flex flex-column justify-content-end text-white pb-5">
                            <div
                                style="background-color: rgba(0, 0, 0, 0.8);">
                                <h5>India Wins SAFF</h5>
                                <p>Captain Sunil Chhetri scored his 80th
                                    international goal to lead the
                                    Indian football team to the SAFF
                                    Championship 2021 title at the
                                    National Football Stadium in Male,
                                    the Maldives on Saturday. India beat
                                    Nepal 3-0 in the final.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                            <div class="bg-3  d-flex flex-column justify-content-end text-white pb-5">
                                <div
                                    style="background-color: rgba(0, 0, 0, 0.8);">
                                    <h5>Argentina are the world
                                        champions</h5>
                                    <p>From the moment Lionel Messi put
                                        the Copa America holders ahead
                                        in the 23rd minute of the 2022
                                        FIFA World Cup final against
                                        France, Lionel Scaloni's side
                                        looked determined to deny the
                                        reigning champions as they
                                        survived a late comeback and
                                        penalties to storm to a stylish
                                        triumph in the first ever winter
                                        tournament in Qatar.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev"
                        href="#varanasiTempleCarousel" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                        href="#varanasiTempleCarousel" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        </div>
    </div>
    </div>




    </div>
    </div>{% endblock body %}
